// App header where search field resides

.app-header {
  padding: $app-base-padding;
  padding-top: 15px;
  border-bottom: solid $app-border-width $search-result-unselected-border-color;
  background-color: #f3f3f3;
}
.app-title {
  margin: 0;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 400;
  color: rgba(#000, 0.5);
}

.app-content {
  // Ensure that 'position: absolute' children are positioned relative to this
  // container
  position: relative;
  height: (($search-result-line-height * ($search-result-title-font-size + $search-result-subtitle-font-size)) + ($search-result-padding-y * 2) + $search-result-border-width) * $max-visible-search-results;
  // Ensure that the margin of inner elements does not increase the height of
  // this container
  overflow: auto;
}

.app-watermark {
  opacity: 0.1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../icons/icon-outline.svg');
  background-size: 256px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.app-status-message {
  margin-top: 20px;
  text-align: center;
  font-size: 32px;
  color: rgba(#000, 0.3);
}
