// Options page fields

.options-fields {
  display: table;
  margin: 0 auto;
  padding: 20px 0;
  text-align: left;
}

.option-field {
  display: table-row;
}

.option-cell {
  display: table-cell;
  padding: 10px 0;
  vertical-align: middle;
  // Label column
  &:first-child {
    text-align: right;
    padding-right: 10px;
  }
  // Input column
  &:last-child {
    text-align: left;
  }
}

label {
  font-size: 16px;
  vertical-align: middle;
}
select {
  -webkit-appearance: none;
  height: 30px;
  background-color: rgba(#000, 0.05);
  border: solid 1px $search-field-border-color;
  border-radius: 3px;
  padding: 0 10px;
  font-size: 12px;
  &:focus {
    outline-width: 0;
    border-color: $search-field-focus-color;
    box-shadow: $search-field-focus-glow;
  }
}

.options-loading-icon-container {
  display: inline-block;
  stroke: #36c;
  stroke-width: 30;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
