// Options page fields

.options-fields {
  display: table;
  margin: 0 auto;
  padding: 20px 0;
  text-align: left;
}

.options-field {
  display: table-row;
}

.options-cell {
  display: table-cell;
  padding: 10px 0;
  vertical-align: middle;
  // Label column
  &:first-child {
    text-align: right;
    padding-right: 10px;
  }
  // Input column
  &:last-child {
    text-align: left;
  }
}

label {
  font-size: 16px;
  vertical-align: middle;
}
.options-menu-container {
  display: inline-block;
  position: relative;
}
select {
  -webkit-appearance: none;
  height: 30px;
  background-color: rgba(#000, 0.05);
  border: solid 1px $search-field-border-color;
  border-radius: 3px;
  padding: 0 10px;
  font-size: 12px;
  &:focus {
    outline-width: 0;
    border-color: $search-field-focus-color;
    box-shadow: $search-field-focus-glow;
  }
}
.options-menu-arrow {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  fill: none;
  $icon-size: 16px;
  width: $icon-size;
  height: $icon-size;
  stroke: darken($search-field-border-color, 25%);
  stroke-width: $app-border-width * 1.25;
  stroke-linecap: round;
  select:focus + & {
    stroke: darken($search-field-focus-color, 0%);
    filter: drop-shadow(0 0 1px $search-field-focus-glow-color);
  }
}
