// Search results containers and items

.search-loading-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.search-results-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: $search-result-line-height;
}

.search-result {
  padding: $search-result-padding-y $search-result-padding-x;
  border-bottom: solid $app-border-width $search-result-unselected-border-color;
  &.selected {
    background-color: $search-result-selected-color;
    color: #fff;
  }
}
.search-result-title {
  font-size: $search-result-title-font-size;
}
.search-result-subtitle {
  opacity: 0.5;
  font-size: $search-result-subtitle-font-size;
}
