// Variables and constants for use throughout styles

// App

$app-base-padding: 20px;
$app-border-width: 1px;

// Search field

$search-field-focus-color: #36c;
$search-field-focus-glow-color: #9cf;
$search-field-focus-glow: 0 0 5px 1px $search-field-focus-glow-color;
$search-field-border-color: #999;
$search-field-icon-size: 16px;
$search-field-icon-padding-left: 8px;
$search-field-icon-padding-right: 4px;

// Search results

$search-result-selected-color: $search-field-focus-color;
$search-result-border-color: #bbb;
