// Variables and constants for use throughout styles

// App

$app-base-padding: 20px;
$app-border-width: 1px;

// Search field

$search-field-focus-color: #36c;
$search-field-focus-glow-color: #9cf;
$search-field-border-color: #888;
$search-field-icon-size: 16px;
$search-field-icon-padding-left: 8px;
$search-field-icon-padding-right: 4px;

// Search results

// The maximum number of search results to show at one time

$search-result-selected-color: $search-field-focus-color;
$search-result-selected-border-color: darken($search-result-selected-color, 10%);
$search-result-border-color: #bbb;

$max-visible-search-results: 6;
$search-result-padding-x: $app-base-padding;
$search-result-padding-y: $app-base-padding / 2;
$search-result-border-width: $app-border-width;
$search-result-line-height: 1.25;
$search-result-title-font-size: 16px;
$search-result-subtitle-font-size: 12px;
