@import 'variables';

* {
  box-sizing: border-box;
}

body {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-size: 0;
  text-align: center;
}

@import 'options-header';
@import 'options-fields';
