.loading-icon {
  fill: none;
  stroke-linecap: round;
  animation: loading 1000ms linear infinite;
}

// Define the a spinning/throbbing animation for the indicator
@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}
