// App header where search field resides
@use 'sass:math';
@import 'search-field';

.popup-header {
  position: relative;
  padding: var(--app-base-padding);
  padding-top: 15px;
  border-bottom: solid var(--app-border-width) var(--search-result-border-color);
  background-color: #f3f3f3;
  &:has(+ .popup-content .search-result.selected:first-of-type) {
    border-bottom-color: var(--search-result-selected-border-color);
  }
}
.popup-title {
  margin: 0;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 400;
  color: rgba(#000, 0.5);
}
.options-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  --icon-size: 18px;
  width: var(--icon-size);
  height: var(--icon-size);
  fill: rgba(#000, math.div(1, 3));
}
