// App header where search field resides
@use 'sass:math';
@import 'search-field';

.popup-header {
  position: relative;
  padding: $app-base-padding;
  padding-top: 15px;
  border-bottom: solid $app-border-width $search-result-border-color;
  background-color: #f3f3f3;
}
.popup-title {
  margin: 0;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 400;
  color: rgba(#000, 0.5);
}
.options-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  $icon-size: 16px;
  width: $icon-size;
  height: $icon-size;
  fill: rgba(#000, math.div(1, 3));
}
