// Search results containers and items
@use 'sass:math';

.search-results-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 1.25;
}

.search-result {
  position: relative;
  padding: math.div($app-base-padding, 2) $app-base-padding;
  border-top: solid $app-border-width $search-result-border-color;
  &.selected {
    background-color: $search-result-selected-color;
    color: #fff;
    &,
    & + .search-result {
      border-top-color: $search-result-selected-border-color;
    }
  }
  &:first-of-type {
    border-top-width: 0;
  }
}
.search-result-title {
  font-size: 16px;
}
.search-result-subtitle {
  opacity: 0.5;
  font-size: 12px;
}

.search-result-actions {
  position: absolute;
  top: 0;
  right: 0;
}
.search-result-action {
  display: inline-block;
  padding-top: 4px;
  padding-right: 6px;
  font-size: 12px;
  color: rgba(#fff, 0.75);
  text-decoration: none;
}
.search-result-action-default {
  font-weight: bold;
}
